<div class="chat">
  <div class="messages" (scroll)="scrolled($event)" #scrollframe>
    <div class="message" *ngFor="let chatMessage of messages" #item>
      <div class="message-header">
        <span class="user">{{chatMessage.user}}</span>
        <span class="time">{{chatMessage.timeSent | date:'medium'}}</span>
      </div>
      <div class="message-content">
        {{chatMessage.message}}
      </div>
    </div>
  </div>

  <div class="input-area">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control text-light bg-dark" id="name" [(ngModel)]="name">
      </div>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Message with Intercom" [(ngModel)]="message" (keyup.enter)="send()">
      <div class="input-group-append">
        <button class="btn btn-dark" type="button" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>
